.container {
	width: 100%;
	height: 600px;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 20px;
}

.kotak {
	width: 30%;
	height: 80px;
	background-color: salmon;
	color: white;
	text-align: center;
	line-height: 80px;
	font-size: 30px;
	margin: 2px;
	float: left;
}

.head {
	width: auto;
	height: 100px;
	background-color: pink;
	margin-bottom: 12px;
	text-align: center;
	line-height: 100px;
	font-size: 20px;
	font-weight: bold;
}

.menu {
	width: auto;
	height: 50px;
	background-color: orange;
	margin-bottom: 12px;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	font-weight: bold;

}
	
.sidebar {
	width: 19%;
	height: 400px;
	background-color: red;
	float: left;
	text-align: center;
	line-height: 400px;
	font-size: 20px;
	font-weight: bold;
	
}

.content {
	width: 80%;
	height: 400px;
	background-color: yellow;
	float: right;
	text-align: center;
	line-height: 400px;
	font-size: 20px;
	font-weight: bold;
}
.footer {
	width: 100%;
	height: 70px;
	background-color: aqua;
	margin-top: 425px;
	text-align: center;
	line-height: 70px;
	font-size: 20px;
	font-weight: bold;

}